.bgimg {
	background-image: url('/forest.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: fixed;
	color: rgb(255, 254, 254);
	font-family: 'Courier New', Courier, monospace;
	font-size: 26px;
}

.topleft {
	position: absolute;
	top: 0;
	left: 16px;
}

.bottomleft {
	position: absolute;
	bottom: 0;
	left: 16px;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
